/*create your custom styling here*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

h1{
	font-size: 48px;
	color: #803713;
	text-align: center;
	font-family: "Roboto Slab", American, serif;
}

#container{
	width: auto;
	min-height: 5000px;
	height: 4700px;
	margin: 100px;
	background-color:#806A5F;
	/*position: inherit;*/
}

#HeadPhoto{
	width: auto;
	height: 500px;
	float: left;
	
}

#colorbar{
	width: 100%;
	height: 150px;
	background-color: #FFA578;
	float: left;
	vertical-align: bottom;
	margin-top: 30px;
	margin-bottom: 50px;
}

#PreviewPhoto{
	width: auto;
	height: 200px;
	padding: 50px;
}

#photocontainer{
	height:200px;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	/*margin: 50px;*/
}

#photo1{
	width: 200px;
	height: 200px;
	position:relative;
	margin: 50px;
	margin-bottom: 50px;
}

#photo2{
	width: 200px;
	height: 200px;
	position: relative;
	margin: 50px;
	margin-bottom: 50px;
	left: 300px;
	bottom: 600px;
}

#photo3{
	width: 200px;
	height: 200px;
	position: relative;
	margin: 50px;
	margin-bottom: 50px;
	left: 600px;
	bottom: 1200px;
}

#photo4{
	width: 200px;
	height: 200px;
	position: relative;
	margin-right: 50px;
	margin: 50px;
	margin-bottom: 50px; 
	left: 900px;
	bottom: 1800px;
}

.story{
	border: 2px solid black;
	width: auto;
	min-height: 500px;
	margin-bottom: 50px;
	margin-top: 20px;
	padding: 20px;
	padding-left: 200px;
	padding-right: 200px;
}

.storyparagraphs{
	/*-webkit-column-count:3; 
	-moz-column-count:3; 
	column-count:3;*/
	font-family: Roboto, sans-serif;
	font-size: 18px;
}

.storypic{
	width: auto;
	height: 300px;
	background-color: red;
}

.box{
	width:148px;
	height:148px;
	float: left;
	margin-left: 50px;
	margin-right: 50px;
	padding: 10px;
	position: relative;
	word-wrap: break-word;
	float: left;
}

.captionbox{
	width:200px;
	height:100px;
	float: left;
	margin-left: 28px;
	margin-right: 20px;
	padding: 10px;
	position: relative;
	word-wrap: break-word;
	font-family: Roboto, sans-serif;
	font-size: 18px;
}

#boxA{
	background-color: #01628C;
	
}

#boxB{
	background-color: #00B0D2;

}

#boxC{
	background-color: #E6F7F9;
	
}
	

#boxD{
	background-color: #96C34C;
	
}

#boxE{
	background-color: #333;
	
}

.home{
	height: 25px;
	width: 100px;
	background-color: #CC581E;
	text-align: center;
	border: 2px solid black;
	margin: 0 auto;
}